body {
  z-index: 0;
  margin: 0;
  font-family: 'Poppins','Roboto','Space Grotesk',sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.font-weight-400{
  font-weight: 400;
}
.font-weight-900{
  font-weight: 900;
}
.font-size-1-5rem{
  font-size: 1.5rem;
}
.Navbar{
  padding: 0 1vw 0 5vw;
  height: 21vh;
  width: 92vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#nav-heading a{
  font-size: 32px;
  font-weight: 600;
  color: #2965ff;
  text-decoration: none;
}
.nav-links{
  display: flex;
  flex-direction: row;
  width: 30vw;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-link-norm{
  margin: 0 10px;
  color: rgb(99, 99, 99);
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  transition: 0.1s ease-in;
}
.nav-link-norm:hover{
  color: black;
  border-bottom: solid 4px rgb(153, 153, 153);
}
.nav-link-high{
  margin: 0 10px;
  color: black;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  border-bottom: solid 4px rgb(153, 153, 153);
  transition: 0.1s ease-in;
}

.main-page-home{
  background-image: url(./images/website\ landing.png);
  background-position: 0 0;
  background-size: cover;
}

.hero-page-home{
  height: 79vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.hero-page-contact{
  height: 55vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.hero-page-about{
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.hero-content{
  position: fixed;
  z-index: 1;
  margin-bottom: 10vh;
  width: 80vw;
  padding: 0 4vw;
}
.hero-title{
  font-size: 5rem;
  margin-bottom: 0;
  font-weight: 700;
  text-indent: 15px;
}
.hero-intro{
  width: 30vw;
  margin-top: 2px;
  padding: 0 1.5vw;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.projects-page{
  position: relative;
  z-index: 2;
  height: 100vh;
  width: 100%;
  /* background-color: rgb(112, 218, 14); */
}
.project-link{
  color: #dddddd;
}
.project-link:hover{
  color: #ffffff;
}
.project-link:visited{
  color: #dddddd;
}

.movies-app{
  background-image: url('/src/images/movie-app.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.task-tracker{
  background-image: url('/src/images/task-tracker.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.project-page-panel{
  display: flex;
  height: 100vh;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.2s ease-in;
  align-items: center;
  justify-content: center;
}
.project-page-panel:hover{
  background-color: rgba(0, 0, 0, 0.86);
}
.project-page-panel-text-box{
  color: aliceblue;
  padding: 0 5vw;
  font-size: 2.3rem;
}


.contact-form-box{
  background-color: rgb(255, 255, 255);
  position: relative;
  z-index: 2;
  height: 100vh;
  padding: 0 30vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-form-heading{
  font-size: 42px;
  margin: 3rem 0;
}
.contact-form{
  width: 45vw;
  height: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
}
.form-input{
  border: none;
  border-bottom: 1px solid #b3b3b3;
  font-size: 1.3rem;
  height: 4rem;
  width: 80%;
  padding: 0 1rem;
}
.contact-submit-button{
  border: none;
  background-color: black;
  border: 2px solid black;
  color: white;
  font-size: 1.3rem;
  padding: 1.4rem 3rem;
  transition: 0.3s ease-in;
}
.contact-submit-button:hover{
  border: none;
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  padding: 1.4rem 3rem;
}

.This-is-me{
  position: relative;
  z-index: 2;
  background-image: url('./images/bike-and-guy_npreviews_26b9.jpg');
  background-position: 0 0;
  background-size: cover;
  color: white;
  height: 100vh;
}
.this-is-me-text-box{
  height: 86%;
  width: 30%;
  opacity: 75%;
  background-color: black;
  padding: 6.5% 10% 3%;
}
.this-is-me-text-box h4{
  margin-top: 0;
  margin-bottom: 4rem;
  font-size: 1.5rem;
}
.this-is-me-text-box p{
  font-size: 2.7rem;
  font-weight: 700;
}

.who-am-i{
  position: relative;
  z-index: 2;
  height: 70vh;
  padding: 2vh 30vw;
  background-color: white;
}
.who-am-i h1{
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.6rem;

  margin: 5rem 0 2.5rem;
}
.who-am-i p{
  font-weight: 100;
  font-size: 1.1rem;
  line-height: 1.6rem;
}


.Footer{
  position: relative;
  z-index: 2;

  width: 90%;
  height: 48vh;
  margin: 0;
  padding: 0 5%;
  background-color: #fafafa;
}

.footer-title{
  margin: 0;
  padding: 12vh 0 8vh;
  font-size: 36px;
  font-weight: 500;
  font-family: 'Space Grotesk Web',sans-serif;
}
.footer-links{
  display: flex;
  flex-direction: row;
}
.footer-link{
  color: grey;
  margin: 10px;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 3px solid rgb(216, 216, 216);
}

.footer-link:hover{
  color: black;
  margin: 10px;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 3px solid rgb(29, 29, 29);
}

.project-image{
  height: 100vh;
  width: 95.9vw;

}